<?xml version="1.0" encoding="UTF-8"?> 
<Configuration status="WARN">     
<Properties>         
	<Property name="logPath">./Logs</Property>     
</Properties>     

<Appenders>         
	<RollingFile name="fileLogger" fileName ="${logPath}/1234_mylog.log" filePattern="${logPath}/1234_mylog_differentData.log">             
	<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>             
	<Policies>                 
	<OnStartupTriggeringPolicy/>             
	</Policies>         
	</RollingFile>         
	<Console name="Console" target="SYSTEM_OUT">             
	<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>         </Console>     
</Appenders>     

<Loggers>         
	<Root level="info">             
	<AppenderRef ref="Console"/>             
	<AppenderRef ref="fileLogger"/>         
	</Root>     
</Loggers> 
</Configuration>